<ion-header>
  <ion-toolbar>
    <ion-title>Comment</ion-title>
    <ion-buttons slot = "end">
      <ion-button (click) = "dismiss()"><ion-icon name = "close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Your Name</ion-label>
      <ion-input type="text" formControlName = "author" required></ion-input>
    </ion-item>
    <p class="ion-error" *ngIf="formErrors.author">*{{formErrors.author}}</p>
    <ion-item>
      <ion-label>Rating</ion-label>
      <ion-range min="1" max="5" pin = "true" snaps = "true" formControlName = "rating">
        <ion-icon slot="start" size="small" name="sad-outline"></ion-icon>
        <ion-icon slot="end" name="happy-outline"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Comment</ion-label>
      <ion-textarea rows = "12" formControlName = "comment" required></ion-textarea>
    </ion-item>
    <p class="ion-error" *ngIf="formErrors.comment">*{{formErrors.comment}}</p>
    
    <ion-button class="left-margin" type="submit" [disabled]="!commentForm.valid">Comment</ion-button>
  </form>
</ion-content>
